.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.search-section > input {
  width: 30%;
  height: 20px;
  padding: 20px;
  margin-top: 10px;
  font-size: large;
  border: 1px solid gray;
  border-radius: 5px ;
}